# sbt specific
target/**
project/target/
project/project/

# include the pre-build game
!target/scala-3.3.4/
!target/scala-3.3.4/DungeonAdventure-assembly-0.1.0-SNAPSHOT.jar


# IDE specific
.bsp/
.idea/
.idea_modules/
.vscode/
.metals/
.bloop/
metals.sbt
.DS_Store

# Compiled files
*.class
*.log

# Scala-IDE specific
.scala_dependencies
.worksheet